.footer-container {
  background-color: rgb(37, 37, 37);
  height: 6rem;
  width: 100%;
  padding-left: 2rem;
  position: absolute;
  bottom: -12rem;
  display: flex;
  align-items: center;
}

.footer-text {
  color: white;
}
